@import './../settings/_colors.scss';

article {
  &.card {
    position: relative;
    float: left;
    width: calc(25% - 10px);
    height: 0;
    padding-bottom: 23.3%;
    margin: 0 0 25px;
    margin: 5px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border .4s ease;

    &.half {
      width: calc(50% - 10px);
    }

    &.wide {
      width: calc(100% - 10px);
    }

    .description {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      color: $grey;
      text-align: center;
      text-decoration: none;
      justify-content: center;
      flex-direction: column;
      background-color: #fff;
      transition: color .4s ease;

      .number {
        font-size: 5em;
      }

      .icon {
        position: absolute;
        bottom: -20px;
        left: -15px;
        font-size: 6em;
        opacity: .3;
        transition: bottom .4s ease, left .4s ease;
      }

      .title {
        font-size: 1em;
        font-weight: bold;
      }
    }

    &:hover {
      border: 2px solid $primary;
      transition: border .2s ease;
      .description {
        color: $primary;
        transition: color .2s ease;

        .icon {
          bottom: 10px;
          left: 10px;
          transition: bottom .4s ease, left .4s ease;
        }
      }
    }
  }
}

@media(max-width:800px) {
  article {
    &.card {
      font-size: 13px;

      a {
        .description {
          .icon {
            font-size: 2em;
          }

          .text {
            font-size: .8em;
          }
        }
      }
    }
  }
}
