@import './../settings/_colors.scss';

.footer {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 3em;
  background-color: $white;

  .container .text-muted {
    margin: 20px 0;
    color: $primary;
  }
}
