@import './../settings/colors.scss';

footer {
  z-index: 100;
  display: flex;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  background-color: $secondary;

  order: 2;
  flex: 1;

  p {
    padding: 5px 0;
    font-size: 10px;
    color: $primary;
  }
}
