@import './../settings/colors.scss';

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 260px;
  height: 30px;
  background-color: $secondary;
  border-radius: 0;

  p {
    padding: 5px 0;
    font-size: 10px;
    color: $primary;
  }
}
