@import "./../settings/_colors.scss";

.nav-img {
  display: inline !important;
  margin-right: 2px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $white;
  border: none;
  border-radius: 0;

  .navbar-header {
    .navbar-brand {
      font-size: 1.5em;
      font-weight: 900;
      color: $primary;
    }
  }
  .navbar-nav > li > a {
    padding-bottom: 2px;
    color: $black;
    text-align: center;
    transition: .3s color ease;
    &.raya:after {
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      color: $primary;
      transition: .4s color ease;

      &.after:after {
        width: 84%;
      }
    }

    &:hover {
      color: $primary;
    }

    &.after {
      &:after {
        position: absolute;
        bottom: -.20em;
        width: 0;
        height: 1px;
        content: "";
        background: $primary;
        transition: .4s all ease;

        backface-visibility: hidden;
      }

      &:hover:after {
        width: 84%;
      }
    }
  }
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: $primary;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}


.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  background-color: transparent;
  outline: 0;
}

@media(min-width:1100px) {
  .top-nav-collapse {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid $primary;
  }
}

.navbar-default .navbar-toggle {
  padding: 18px 30px;
  margin: 0;
  color: $primary;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transition: .3s ease;

  &:hover, &:focus, {
    background-color: transparent;
  }

  .icon-bar {
    width: 22px;
    background-color: $primary;
    transition: all .2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}
