
.nav-img {
  display: inline !important;
  margin-right: 2px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $white;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;

  .navbar-header {
    .navbar-brand {
      font-size: 1.5em;
      font-weight: 900;
      color: $primary;
    }
  }
  .navbar-nav > li > a {
    padding-bottom: 2px;
    color: $black;
    transition: .3s color ease;
    &.raya:after {
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      color: $primary;
      transition: .4s color ease;

      &.after:after {
        width: 84%;
      }
    }

    &:hover {
      color: $primary;
    }

    &.after {
      &:after {
        position: absolute;
        bottom: -.20em;
        width: 0;
        height: 1px;
        content: "";
        background: $primary;
        transition: .4s all ease;

        backface-visibility: hidden;
      }

      &:hover:after {
        width: 84%;
      }
    }
  }
}
