@import './../settings/_colors.scss';

.panel-default {
  border: 1px solid $white;
}

.panel-table .panel-body {
  padding: 0;

  .table-bordered {
    margin: 0;
    border-style: none;
  }
}

.table-bordered > thead > tr > th:first-of-type {
  width: 120px;
  text-align: center;
}

.table-bordered > thead > tr > th {
  text-align: center;
}

.table-bordered > thead > tr > th:last-of-type,
.table-bordered > tbody > tr > td:last-of-type {
  border-right: 0;
}

.table-bordered > thead > tr > th:first-of-type,
.table-bordered > tbody > tr > td:first-of-type {
  border-left: 0;
}

.table-bordered > tbody > tr {
  &:hover {
    color: #000;
    background-color: #ececec;
    transition: all .2s ease;
  }
}

.table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0;
}

.table-bordered > thead > tr:first-of-type > th {
  border-top: 0;
}

.panel-table .panel-footer .pagination {
  margin: 0;
}

.panel-table .panel-footer {
  height: 34px;
  line-height: 34px;
}

.table-bordered > tbody > tr > td {
  line-height: 24px;
}

th.checkbox-col {
  width: 39px;
  text-align: center;
}


.table-bordered > tbody > tr > td {
  text-align: center;

  align-content: center;
}
