@import './settings/colors.scss';

$sidenav-border: rgba(255, 255, 255, .2);

:root {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidenav {
  z-index: 1;
  display: flex;
  color: #fff;
  flex-direction: column;
  background-color: $secondary;
  transition: width .4s ease;

  flex: 1 0 0;
  .logo {
    z-index: 4;
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $sidenav-border;

    order: 0;
    a {
      font-size: 18px;
      font-weight: bold;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s ease;
      span {
        color: $primary;
        transition: color .3s ease;
      }
      &:hover {
        color: $primary;
        span {
          color: $white;
        }
      }
    }
  }
  .user {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $sidenav-border;

    order: 1;
    .photo {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      overflow: hidden;
      border: 4px solid $sidenav-border;
      border-radius: 50%;

      flex: 1 0;
      img {
        width: 100%;
      }
    }
    a {
      display: block;
      margin-top: 10px;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
}

.main-panel {
  z-index: 2;
  padding-bottom: 60px;
  background: $white;
  transition: width .4s ease;

  flex: 4 0 0;
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;

    .sidenav {
      display: inline-flex;
      min-width: 520px;
      padding-bottom: 0;
      .actions {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        flex-wrap: nowrap;
        li {
          width: auto;
        }
        a {
          padding: 20px 25px;
          p {
            display: none;
          }
          i {
            margin-right: 0;
            font-size: 20px;
            text-align: center;
          }
        }
      }
      .user, footer {
        display: none;
      }
    }
  }
}

.actions {
  display: flex;
  padding: 0;
  list-style: none;
  flex-direction: column;

  order: 2;
  flex-grow: 1;
  li {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  a {
    display: inline-flex;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 15px;
    color: $white;
    text-decoration: none;
    align-items: center;
    border-radius: 3px;
    opacity: .86;
    &.active {
      color: $primary;
      background: rgba(0, 0, 0, .23);
      opacity: 1;
    }
    &:hover {
      background: rgba(0, 0, 0, .23);
      opacity: 1;
    }
    i {
      width: 30px;
      margin-right: 20px;
      font-size: 18px;
    }
    p {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
    }
  }
}

.sidenav, .main-panel {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition-timing-function: linear,linear;
  transition-duration: .2s,.2s;
  transition-property: top,bottom;
}

// ::-webkit-scrollbar {
//   display: none;
// }
