@import './settings/colors.scss';

// SideNav Main-panel layout
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar, .main-panel {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition-timing-function: linear,linear;
  transition-duration: .2s,.2s;
  transition-property: top,bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 260px;
  font-weight: 200;
  color: #fff;
  background-color: $secondary;
}

.sidebar .logo {
  position: relative;
  z-index: 4;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.sidebar .logo .logo-text {
  display: block;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}


.main-panel {
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  padding-bottom: 60px;
  background: #f5f5f5;
}

.sidebar .user {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.sidebar .user .photo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
}

.sidebar .user .photo img {
  width: 100%;
}

.sidebar .user a {
  display: block;
  padding: 8px 14px;
  color: #fff;
  text-align: center;
  text-align: center;
}

.sidebar-wrapper, .main-panel {
  overflow: auto;
}

.sidebar .sidebar-wrapper {
  position: relative;
  z-index: 4;
  height: calc(100vh - 64px);
}

.nav > li {
  position: relative;
  display: block;
}

.sidebar .nav li > a.active {
  color: $primary;
  background: rgba(0, 0, 0, .23);
  opacity: 1;
}

.sidebar .nav li > a:hover {
  background: rgba(0, 0, 0, .23);
  opacity: 1;
}

.sidebar .nav li > a {
  margin: 5px 15px;
  color: #fff;
  border-radius: 4px;
  opacity: .86;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.sidebar .nav i {
  float: left;
  width: 30px;
  margin-right: 15px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.sidebar .nav p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
