@import "./../../node_modules/font-awesome/css/font-awesome.min.css";

// COMPONENTS
@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./components/login.scss";
@import "./components/tables.scss";
@import "./components/dashboard.scss";
@import "./components/devices.scss";

// SETTINGS
@import './settings/colors.scss';
@import './settings/typography.scss';
@import './settings/animations.scss';

* {
  font-family: sans-serif;
}

body {
  height: 100vh;
  font-size: $base-font-size;
  background-color: $white;
}

.paper {
  border-radius: 2px;
  animation: fadeIn 1s ease;

  &.white {
    background-color: #fff;
  }

  &.tranparent {
    background-color: transparent;
  }
}

.page-header {
  padding: 20px 0;
  margin: 0 0;
  background: url('./../assets/images/header-bg.png') repeat;

  h1 {
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: bold;
  }
}

.margin {
  margin-top: 10px;
}

.page-content {
  padding: 20px;
  border: 2px solid #e3e3e3;
}

.page-margin {
  margin-bottom: 50px;
}

.asset-chk {
  &:hover {
    color: #fff;
    background-color: $secondary;
    transition: background .4s ease;
  }
  &.selected {
    color: #fff;
    background-color: $secondary;
    border: 1px solid darken($secondary, 20%);
    transition: background .4s ease;
  }
}


.form-card {
  padding: 4%;
  margin: auto;
  margin-top: 3%;

  &.medium {
    width: 620px;
  }

  .form {
    position: relative;
    z-index: 1;

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      margin: 0 0 15px;
      font-family: sans-serif;
      font-size: 1em;
      background: #f2f2f2;
      border: 0;
      outline: 0;

      &:focus {
        outline: 1px solid $secondary;
        transition: outline .5s ease;
      }
    }
    .login-info {
      padding: 10% 5%;
      margin: 10px 0 0;
      font-size: .9em;
      color: $grey-muted;
      a {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}


// OVERRIDES
@import "./overrides.scss";
