@import './../settings/_colors.scss';

.btn {
  padding: .8em;
  font-size: 1em;
  font-weight: bold;
}

.btn-primary {
  color: lighten($primary, 50%);
  background-color: $primary;
  border: none;
  border-bottom: 3px solid darken($primary, 13%);
  border-radius: 0;
  transition: background .3s ease, color .3s ease, border .3s ease;

  &:hover {
    color: lighten($primary, 75%);
    background-color: $primary;
    border-bottom: 3px solid darken($primary, 40%);
  }

  &:active {
    color: $white;
    background-color: $primary;
    border-bottom: 3px solid $white;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-bottom: 3px solid $white;
    outline: none;
  }
}

.btn-secondary {
  color: darken($secondary, 40%);
  background-color: $secondary;
  border: none;
  border-bottom: 3px solid darken($secondary, 20%);
  border-radius: 0;
  transition: background .3s ease, color .3s ease, border .3s ease;

  &:hover {
    color: darken($secondary, 75%);
    border-bottom: 3px solid darken($secondary, 40%);
  }

  &:active {
    color: $white;
    border-bottom: 3px solid $white;
  }

  &:focus {
    color: $white;
    outline: none;
  }
}


.btn-create {
  margin-left: 1em;
}
