@import './../settings/_colors.scss';

.btn {
  font-size: 14px;
  font-weight: bold;
}

.btn-ternary {
  color: $white;
  background-color: $ternary;
  border: none;
  border-bottom: 3px solid darken($ternary, 10%);
  border-radius: 3px;
  transition: background .3s ease, color .3s ease, border .3s ease;

  &:hover {
    color: $white;
    background-color: $ternary;
    border-bottom: 3px solid darken($ternary, 15%);
    opacity: .8;
  }

  &:active {
    color: $white;
    background-color: $ternary;
    border-bottom: 3px solid $white;
  }

  &:focus {
    color: $white;
    background-color: $ternary;
    border-bottom: 3px solid $white;
    outline: none;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border: none;
  border-bottom: 3px solid darken($primary, 10%);
  border-radius: 3px;
  transition: background .3s ease, color .3s ease, border .3s ease;

  &:hover {
    color: $white;
    background-color: $primary;
    border-bottom: 3px solid darken($primary, 15%);
    opacity: .8;
  }

  &:active {
    color: $white;
    background-color: $primary;
    border-bottom: 3px solid $white;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-bottom: 3px solid $white;
    outline: none;
  }
}

.btn-secondary {
  color: $white;
  background-color: $secondary;
  border: none;
  border-bottom: 3px solid darken($secondary, 10%);
  border-radius: 3px;
  transition: background .3s ease, color .3s ease, border .3s ease;

  &:hover {
    color: $white;
    border-bottom: 3px solid darken($secondary, 15%);
    opacity: .8;
  }

  &:active {
    color: $white;
    border-bottom: 3px solid $white;
  }

  &:focus {
    color: $white;
    outline: none;
  }
}

.btn-block {
  padding: 10px;
  margin-top: 15px;
}

.btn-create {
  margin-left: 1em;
}
