
$white: #f7f7f7;
$black: #222;
// BRAND
$primary: #e14283;
$secondary: #282c44;
//
$grey: #838383;
$grey-muted: #b3b3b3;


// MESSAGES
$error: #6d0018;
$error-bg: #ff9e9e;
$success: #0d7149;
$success-bg: #b2ecca;
