
$white: #f7f7f7;
$black: #222;
// BRAND
$primary: #b51b58;
$secondary: #7dced5;
//
$grey: #838383;
$grey-muted: #b3b3b3;


// MESSAGES
$error: #6d0018;
$error-bg: #ff9e9e;
$success: #0d7149;
$success-bg: #b2ecca;
